
    *{
      margin: 0;
      padding: 0;
    }
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      
      margin: 0;
      background-image: linear-gradient(rgb(32, 1, 1), rgb(77, 1, 1));
    }

    .counter {
      text-align: center;
      background-image: linear-gradient(rgb(131, 117, 117), rgb(3, 38, 41));
      padding: 20px;
      border-radius: 10px;
      box-shadow: 4px 4px 10px rgb(0, 0, 0);
      height: 30vh;
      width: 50vh;
      order: 0;
    }

    .time {
      font-size: 2.5rem;
      margin: 10px 0;
      color: white;
    }

  

